@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@layer utilities {
  .card {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    height:250px;
    width:200px
  }
  .card:hover {
    box-shadow: 0 12px 24px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
  .slider {
    background: white;
    height: 250px;
    width: 200px;
    display: flex;
    border-radius: 10px;
    /* overflow: scroll; */
    overflow: hid;
  }
  .slides {
    /* width:500%; */
    /* height: 500px; */
    display: flex;
    /* flex-direction: column; */
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 20%;
    margin-left: 0;
    transition: 2s;
  }
  .slide img {
    height: 50%;
    width: 100%;
  }

  .manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
  }
  .div > label {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
  }
  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }
  .manual-btn:hover {
    background: #40d3dc;
  }

  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  #radio3:checked ~ .first {
    margin-left: -40%;
  }

  .navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 40px;
  }
  #radio1:checked ~ .manual-navigation .manual-btn1 {
    background: #40d3dc !important;
  }
  #radio2:checked ~ .manual-navigation .manual-btn2 {
    background: #40d3dc !important;
  }
  #radio3:checked ~ .auto-navigation .auto-btn3 {
    background: #40d3dc;
  }

}

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
  width: 100%;
  background-color: rgb(241 245 249);
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
